@page "/admin/dashboard"
@attribute [Authorize(Roles = "Admin")]

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="nav-align-top mb-4">
        <ul class="nav nav-pills mb-3" role="tablist">
            <li class="nav-item">
                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-accounts" aria-controls="navs-accounts" aria-selected="true">
                    <i class="bx bx-user me-1"></i> Tài khoản
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-stores" aria-controls="navs-stores" aria-selected="false">
                    <i class="bx bx-store me-1"></i> Cửa hàng
                </button>
            </li>
            <li class="nav-item">
                <button @onclick="() => LoadCategoryData(1)" type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-categories" aria-controls="navs-categories" aria-selected="false">
                    <i class="bx bx-category me-1"></i> Danh mục
                </button>
            </li>
            <li class="nav-item">
                <button @onclick="() => LoadBrandData(1)" type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-brands" aria-controls="navs-brands" aria-selected="false">
                    <i class="bx bx-purchase-tag me-1"></i> Thương hiệu
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-posts" aria-controls="navs-posts" aria-selected="false">
                    <i class="bx bx-news me-1"></i> Bài viết
                </button>
            </li>
        </ul>

        <div class="tab-content shadow-sm">

            <div class="tab-pane fade show active" id="navs-accounts" role="tabpanel">
                @if (IsLoadingAccounts)
                {
                    <div class="text-center p-3"><div class="spinner-border text-primary" role="status"></div></div>
                }
                else if (ErrorMessage != null)
                {
                    <div class="alert alert-danger">@ErrorMessage</div>
                }
                else
                {
                    <div class="table-responsive text-nowrap">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên tài khoản</th>
                                    <th>Trạng thái</th>
                                    <th>Quyền hạn</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in AccountPerPage.Accounts)
                                {
                                    <tr>
                                        <td><strong>@item.Id</strong></td>
                                        <td>@item.UserName</td>
                                        <td>
                                            <span class="badge bg-label-@(item.IsActive == true ? "success" : "danger") me-1">
                                                @(item.IsActive == true ? "Active" : "Locked")
                                            </span>
                                        </td>
                                        <td>
                                            <span class="badge bg-label-@(item.Role == "Admin" ? "primary" : (item.Role == "Store" ? "warning" : "info")) me-1">
                                                @item.Role
                                            </span>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-icon item-edit"><i class="bx bx-edit-alt"></i></button>
                                            <button class="btn btn-sm btn-icon item-trash" @onclick="() => DeleteAccount(item.Id)"><i class="bx bx-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                    <small class="text-muted">
                    Trang @AccountPerPage.PageIndex / @AccountPerPage.TotalPages | Tổng số @AccountPerPage.TotalCount tài khoản.
                    </small>
                    <nav aria-label="Page navigation">
                        <ul class="pagination mb-0">
                            <li class="page-item @(AccountPerPage.PageIndex == 1 ? "disabled" : "")">
                                    <button class="page-link bi bi-arrow-left" @onclick="() => ChangeAccountPage(AccountPerPage.PageIndex - 1)"></button>
                            </li>
                            @for (int i = 1; i <= Math.Min(AccountPerPage.TotalPages, 5); i++) // Giới hạn 5 nút trang
                            {
                            var pageNumber = i;
                            <li class="page-item @(AccountPerPage.PageIndex == pageNumber ? "active" : "")">
                                <button class="page-link" @onclick="() => ChangeAccountPage(pageNumber)">@pageNumber</button>
                            </li>
                            }
                            <li class="page-item @(AccountPerPage.PageIndex == AccountPerPage.TotalPages ? "disabled" : "")">
                                    <button class="page-link bi bi-arrow-right" @onclick="() => ChangeAccountPage(AccountPerPage.PageIndex + 1)"></button>
                            </li>
                        </ul>
                    </nav>
                    </div>
                }
            </div>

            @* --- TAB 2: QUẢN LÝ CỬA HÀNG --- 
            <div class="tab-pane fade" id="navs-stores" role="tabpanel">
                @if (stores == null)
                {
                    <p>Đang tải...</p>
                }
                else
                {
                    <div class="table-responsive text-nowrap">
                        <table class="table table-hover">
                            <thead><tr><th>ID</th><th>Tên Shop</th><th>SĐT</th><th>Địa chỉ</th><th>Hành động</th></tr></thead>
                            <tbody>
                                @foreach (var s in stores)
                                {
                                    <tr>
                                        <td>@s.Id</td>
                                        <td>@s.StoreName</td>
                                        <td>@s.Phone</td>
                                        <td>@s.SocialLinks</td>
                                        <td>
                                            <button class="btn btn-sm btn-outline-danger">Khóa</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div> *@

            @* --- TAB 3: QUẢN LÝ DANH MỤC --- *@
            <div class="tab-pane fade" id="navs-categories" role="tabpanel">
                <div class="mb-3">
                    <button class="btn btn-primary btn-sm"><i class="bx bx-plus"></i> Thêm Danh mục</button>
                </div>
                @if (IsLoadingCategories)
                {
                    <p>Đang tải dữ liệu...</p>
                } else if(CategoryPerPage.Items == null)
                {
                    <p>Lỗi tải dữ liệu</p>
                }
                else
                {
                    <div class="table-responsive text-nowrap">
                        <table class="table table-hover">
                            <thead><tr><th>ID</th><th>Tên Danh mục</th><th>Mô tả</th><th>Hành động</th></tr></thead>
                            <tbody>
                                @foreach (var c in CategoryPerPage.Items)
                                {
                                    <tr>
                                        <td>@c.Id</td>
                                        <td><strong>@c.Name</strong></td>
                                        <td>@c.Description</td>
                                        <td>
                                            <button class="btn btn-sm btn-icon"><i class="bx bx-edit"></i></button>
                                            <button class="btn btn-sm btn-icon text-danger"><i class="bx bx-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <small class="text-muted">
                            Trang @CategoryPerPage.PageIndex / @CategoryPerPage.TotalPages | Tổng số @CategoryPerPage.TotalCount loại sản phẩm.
                        </small>
                        <nav aria-label="Page navigation">
                            <ul class="pagination mb-0">
                                <li class="page-item @(CategoryPerPage.PageIndex == 1 ? "disabled" : "")">
                                    <button class="page-link bi bi-arrow-left" @onclick="() => ChangeCategoryPage(CategoryPerPage.PageIndex - 1)"></button>
                                </li>
                                @for (int i = 1; i <= Math.Min(CategoryPerPage.TotalPages, 5); i++)
                                {
                                    var pageNumber = i;
                                    <li class="page-item @(CategoryPerPage.PageIndex == pageNumber ? "active" : "")">
                                        <button class="page-link" @onclick="() => ChangeCategoryPage(pageNumber)">@pageNumber</button>
                                    </li>
                                }
                                <li class="page-item @(CategoryPerPage.PageIndex == CategoryPerPage.TotalPages ? "disabled" : "")">
                                    <button class="page-link bi bi-arrow-right" @onclick="() => ChangeCategoryPage(CategoryPerPage.PageIndex + 1)"></button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                }
            </div>

            @* --- TAB 4: QUẢN LÝ THƯƠNG HIỆU --- *@
            <div class="tab-pane fade" id="navs-brands" role="tabpanel">
                @if (IsLoadingBrands)
                {
                    <p>Đang tải...</p>
                } else if(BrandPerPage.Items == null)
                {
                    <p>Lỗi tải dữ liệu</p>
                }
                else
                {
                    <ul class="list-group">
                        @foreach (var b in BrandPerPage.Items)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                @b.Name
                                <span>
                                    <button class="btn btn-sm btn-icon"><i class="bx bx-edit"></i></button>
                                </span>
                            </li>
                        }
                    </ul>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <small class="text-muted">
                            Trang @BrandPerPage.PageIndex / @BrandPerPage.TotalPages | Tổng số @BrandPerPage.TotalCount thương hiệu.
                        </small>
                        <nav aria-label="Page navigation">
                            <ul class="pagination mb-0">
                                <li class="page-item @(BrandPerPage.PageIndex == 1 ? "disabled" : "")">
                                    <button class="page-link bi bi-arrow-left" @onclick="() => ChangeBrandPage(BrandPerPage.PageIndex - 1)"></button>
                                </li>
                                @for (int i = 1; i <= Math.Min(BrandPerPage.TotalPages, 5); i++)
                                {
                                    var pageNumber = i;
                                    <li class="page-item @(BrandPerPage.PageIndex == pageNumber ? "active" : "")">
                                        <button class="page-link" @onclick="() => ChangeBrandPage(pageNumber)">@pageNumber</button>
                                    </li>
                                }
                                <li class="page-item @(BrandPerPage.PageIndex == BrandPerPage.TotalPages ? "disabled" : "")">
                                    <button class="page-link bi bi-arrow-right" @onclick="() => ChangeBrandPage(CategoryPerPage.PageIndex + 1)"></button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                }
            </div>

            @* --- TAB 5: QUẢN LÝ BÀI VIẾT --- 
            <div class="tab-pane fade" id="navs-posts" role="tabpanel">
                @if (posts == null)
                {
                    <p>Đang tải...</p>
                }
                else
                {
                    <div class="table-responsive text-nowrap">
                        <table class="table table-hover">
                            <thead><tr><th>Tiêu đề</th><th>Tác giả</th><th>Ngày đăng</th><th>Hành động</th></tr></thead>
                            <tbody>
                                @foreach (var p in posts)
                                {
                                    <tr>
                                        <td>@p.Title</td>
                                        <td>@p.Account?.UserName</td>
                                        <td>@p.CreatedAt?.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <button class="btn btn-sm btn-outline-danger">Xóa</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            *@
        </div>
    </div>
</div>

@code {
    // --- BIẾN CHO ACCOUNT (PAGING) ---
    private bool IsLoadingAccounts = true;
    private bool IsLoadingCategories = true;
    private bool IsLoadingBrands = true;
    private string? ErrorMessage;
    private AccountPerPage AccountPerPage { get; set; } = new();
    private CategoryPerPage CategoryPerPage { get; set; } = new();
    private BrandPerPage BrandPerPage { get; set; } = new();
    private PostPerPage PostPerPage { get; set; } = new();
    private const int PageSize = 7;

    protected override async Task OnInitializedAsync()
    {
        await LoadAccountData(1);
    }

    // Logic tải Account (Phân trang)
    private async Task LoadAccountData(int pageIndex)
    {
        IsLoadingAccounts = true;
        try
        {
            var queryString = $"api/accounts?pageIndex={pageIndex}&pageSize={PageSize}";
            var response = await Http.GetAsync(queryString);
            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<AccountPerPage>();
                if (result != null) AccountPerPage = result;
            }
            else
            {
                ErrorMessage = $"Lỗi tải tài khoản: {response.StatusCode}";
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
        finally
        {
            IsLoadingAccounts = false;
            StateHasChanged();
        }
    }

    private async Task LoadCategoryData(int pageIndex)
    {
        IsLoadingCategories = true;
        try
        {
            var queryString = $"api/categories?pageIndex={pageIndex}&pageSize={PageSize}";
            var response = await Http.GetAsync(queryString);
            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<CategoryPerPage>();
                if (result != null) CategoryPerPage = result;
            }
            else
            {
                ErrorMessage = $"Lỗi tải dữ liệu: {response.StatusCode}";
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
        finally
        {
            IsLoadingCategories = false;
            StateHasChanged();
        }
    }

    private async Task LoadBrandData(int pageIndex)
    {
        IsLoadingBrands = true;
        try
        {
            var queryString = $"api/brands?pageIndex={pageIndex}&pageSize={PageSize}";
            var response = await Http.GetAsync(queryString);
            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<BrandPerPage>();
                if (result != null) BrandPerPage = result;
            }
            else
            {
                ErrorMessage = $"Lỗi tải dữ liệu: {response.StatusCode}";
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
        finally
        {
            IsLoadingBrands = false;
            StateHasChanged();
        }
    }

    private void ChangeAccountPage(int newPageIndex)
    {
        if (newPageIndex > 0 && newPageIndex <= AccountPerPage.TotalPages)
        {
            _ = LoadAccountData(newPageIndex);
        }
    }

    private void ChangeCategoryPage(int newPageIndex)
    {
        if (newPageIndex > 0 && newPageIndex <= CategoryPerPage.TotalPages)
        {
            _ = LoadCategoryData(newPageIndex);
        }
    }

    private void ChangeBrandPage(int newPageIndex)
    {
        if (newPageIndex > 0 && newPageIndex <= BrandPerPage.TotalPages)
        {
            _ = LoadBrandData(newPageIndex);
        }
    }



    private async Task DeleteAccount(int id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Xóa tài khoản này?");
        if (confirmed)
        {
            await AccountService.DeleteItemAsync(id);
            await LoadAccountData(AccountPerPage.PageIndex);
        }
    }

}